#flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board{
    width: 500px;
    height: 500px;
    display: grid;
    border: 2px solid mediumslateblue;
    
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
